<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hey There!! Welcome to the website that lets you store and manage your finances</h1>
    <a href="/Login"><h1>Already a User? Login</h1></a>
    <a href="/Signup"><h1>Signup</h1></a>
</body>
</html>